.frontPageMenu {
    float: left;
    font-size: larger;
    background-color: black;
    color: white;
    text-align: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50 px;
    padding-bottom: 50px;
    border: 10px solid pink
}